// - Mobile: 375px
// - Desktop: 1440px
// - Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
// - Weights: 500, 700, 900

//FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

//COLORS
$color-pale-blue: hsl(225, 100%, 94%);
$color-bright-blue: hsl(245, 75%, 52%);

$color-very-pale-blue: hsl(225, 100%, 98%);
$color-desaturated-blue: hsl(224, 23%, 55%);
$color-dark-blue: hsl(223, 47%, 23%);

$color-hover-state-that-noone-mentioned: #766cf1;

//use mixin to scale for mobile devices
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}
}

//RESET and START

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	@include respond(phone) {
		font-size: 50%;
	}
}

body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 1.6rem;
	background-image: url(/images/pattern-background-desktop.svg);
	background-color: $color-pale-blue;
	background-repeat: no-repeat;
	background-position: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	margin-top: 10rem;
	@include respond(phone) {
		margin-left: 3rem;
		margin-right: 3rem;
	}
}

header {
text-align: center;
}

.card {
	background-color: #fff;
	border-radius: 2rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: max-content;
	padding-bottom: 2.5rem;
	width: max-content;

	&__image {
		margin-bottom: 1.5rem;

	}

	&__header {
		margin: 2rem 0;
		color: $color-dark-blue;
	}

	&__text {
		width: 30ch;
		text-align: center;
		color: $color-desaturated-blue;
		display: block;
		margin: 0 auto;
		@include respond(phone) {
			width: 25ch;
		}
	}

	&__plan-box {
		background-color: $color-very-pale-blue;
		display: flex;
		align-items: center;
		width: 80%;
		padding: 2rem;
		border-radius: 1rem;
		margin: 2rem 0;
	}

	&__plan-label {
		display: flex;
		flex-direction: column;
		margin: 0 2rem;
	}

	&__change-link {
		display: inline-block;
		margin-left: auto;
		font-weight: 600;
		&:hover {
			text-decoration: none;
			color: $color-hover-state-that-noone-mentioned;
		}
	}

	&__btn {
		color: #fff;

		&:link,
		&:active {
			display: block;
			width: 80%;
			background-color: $color-bright-blue;
			padding: 1.5rem;
			border-radius: 1rem;
			text-align: center;
			text-decoration: none;
			margin-top: 1rem;
			box-shadow: 0 2rem 1.5rem $color-pale-blue;
		}

		&:hover {
			background-color: $color-hover-state-that-noone-mentioned;
		}
	}

	&__cancel-link {
		&:link,
		&:active {
			padding: 2rem;
			color: $color-dark-blue;
			text-decoration: none;
			font-weight: 600;
			margin-top: 1rem;
		}
		&:hover {
			color: $color-dark-blue;
		}
	}
}

.attribution {
	display: block;
	margin-top: 3rem;
	opacity: .2;
}

